<div class="slider-main">
  <div class="">
    <div class="section christmas-wrapper">
      <div class="col"></div>
      <div class="col-4 flex">
        <a class="christmas-image" href="https://cmxzfg5vj35ep0ir-20132883.shopifypreview.com/collections/blends/products/nice-blend"><img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Nice_2018.png?9524397788518784371" alt="Nice"></a>
      </div>
        <div class="col"></div>
      <div class="col-2 flex">
        <img id="or-text" class="christmas-image" src="https://cdn.shopify.com/s/files/1/2013/2883/files/or.....svg?6079464652787970012" alt="or">
      </div>
        <div class="col"></div>
      <div class="col-4 flex">
        <a class="christmas-image" href="https://cmxzfg5vj35ep0ir-20132883.shopifypreview.com/collections/blends/products/naughty-blend"><img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Naughty_2018.png?9524397788518784371" alt="Naughty"></a>
      </div>
      <div class="col"></div>
    </div>
    <div class="col-9" style="margin:auto;">
      <h3 class="grid-link__title">A portion of proceeds from our holiday blends going to California Community Foundations Wildfire Relief Fund. While supplies last!</h3>
    </div>
  </div>
  <div class="">
    Other Content Test
  </div>
</div>
