<div class="section christmas-wrapper">
  <div class="col"></div>
  <div class="col-4 flex">
    <img class="christmas-image" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Nice_2018.png?9524397788518784371" alt="Nice">
  </div>
    <div class="col"></div>
  <div class="col-2 flex">
    <img id="or-text" class="christmas-image" src="https://cdn.shopify.com/s/files/1/2013/2883/files/or.....svg?6079464652787970012" alt="or">
  </div>
    <div class="col"></div>
  <div class="col-4 flex">
    <img class="christmas-image" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Naughty_2018.png?9524397788518784371" alt="Naughty">
  </div>
  <div class="col"></div>
</div>
  <h3 class="grid-link__title">A portion of proceeds from our holiday blends going to California Community Foundations Wildfire Relief Fund. While supplies last!</h3>
