<div class="featured-section col-9 col-grid">
<a href="">
<div class="col-grid-item collect-1">
  <h3>BLENDS</h3>
</div>
</a>
<a href="">
<div class="col-grid-item collect-2">
  <h3>S.O.</h3>
</div>
</a>
<a href="">
<div class="col-grid-item collect-3">
  <h3>LIMITED</h3>
</div>
</a>
<a href="">
<div class="col-grid-item collect-4">
  <h3>Subscription</h3>
</div>
</a>
</div>
