<div class="featured-section col-9 col-grid">
<a href="https://www.birdrockcoffee.com/collections/single-origin">
<div class="col-grid-item collect-1">
  <h3>SINGLE ORIGIN</h3>
</div>
</a>
<a href="https://www.birdrockcoffee.com/collections/limited-coffee">
<div class="col-grid-item collect-2">
  <h3>LIMITED</h3>
</div>
</a>
<a href="https://www.birdrockcoffee.com/collections/blends">
<div class="col-grid-item collect-3">
  <h3>BLENDS</h3>
</div>
</a>
<a href="https://www.birdrockcoffee.com/collections/club-order">
<div class="col-grid-item collect-4">
  <h3>SUBSCRIPTION</h3>
</div>
</a>
</div>
