<!--{% if product.images.size > 1 %}
<div class="mobile-hide lightbox-thumb">
  {% for image in product.images  %}
  {% if forloop.first %}
  {% else %}
    <a href="{{image.src | product_img_url: '500x' }}" data-lightbox="productImg>"> <img style="border-radius: 50px;" class="lazyload product-image_grid" src="{{image.src | product_img_url: '500x' }}" alt=""> </a>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
-->
{% if product.images.size > 1 %}
<div class="mobile-hide fancybox fancy-icons">
  {% for image in product.images  %}
    <a data-fancybox="gallery"  href="{{image.src | product_img_url: '1000x' }}"> <img class="lazyload product-image_grid" src="{{image.src | product_img_url: '150x' }}" alt=""> </a>
  {% endfor %}
</div>
{% endif %}
