<div class="slider-main">
  <div class="">
    <div class="frinj section flex">
      <div class="frinj-section">
        <h1>coming soon</h1>
        <img src="https://cdn.shopify.com/s/files/1/0070/5868/6021/files/frinj-coffee-logo.png?v=1541458422" alt="">
      </div>
    </div>
  </div>
  <div class="">
    <div class="ninetyseven section">
        <div class="col-5 section">
          <img class="perci_tube" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Ninety_Plus_Perci.png?8434632803668027423" alt="">
        </div>
        <div class="col">

        </div>
        <div class="col-5 section">
          <div class="">
            <img class="ninetyseven_badge" src="https://cdn.shopify.com/s/files/1/2013/2883/files/CR_2019_97_HD.svg?4844885234767463464" alt="">
            <a href="https://www.youtube.com/watch?v=-1JK-rQhbs4&feature=youtu.be" target="_blank">watch jacobs origin trip</a>
            <a href="https://www.birdrockcoffee.com/products/perci" target="_blank">buy now</a>
          </div>
        </div>

    </div>
  </div>
  <div class="">
    <div class="ninetyseven section">
        <div class="col-5 section">
          <h1>winning two top awards this year</h1>
        </div>
        <div class="col">

        </div>
        <div class="col-5 section">
          <div class="">
            <img class="ninetyseven_badge" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Good_Food_Awards.svg?16193860788164739799" alt="">
            <a href="https://www.birdrockcoffee.com/products/geisha-xo" target="_blank">coming soon: gesha xo</a>
            <a href="https://www.birdrockcoffee.com/collections/single-origin/products/kenya-peaberry" target="_blank">available now: kenya pb</a>
            <a href="https://www.prweb.com/releases/bird_rock_coffee_roasters_wins_2019_national_good_food_award_in_coffee_division/prweb16040481.htm" target="_blank">read about the awards</a>

          </div>
        </div>

    </div>
  </div>
  <div class="">
    <div class="top-12year section flex">
      <div class="top-12_container">
        <h3>featured in <span>Forbes</span> twelve</h3>
        <h1>Best Coffee Roasters</h1>
        <h3>in the U.S.</h3>
        <button onclick="location.href='https://www.forbes.com/sites/kimwesterman/2018/11/30/holiday-gift-guide-2018-the-12-best-coffee-roasters-in-the-u-s/#f1db13d36c7e'">read more</button>
      </div>
    </div>
  </div>
</div>
