<div>
{% if product.metafields.c_f.roast == 1 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_1.svg?10892512432961427525" alt="Light Roast">
<h4 class="metaInfo"><span>Roast Level: </span> light</h4>
{% endif %}
{% if product.metafields.c_f.roast == 2 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_2.svg?10892512432961427525" alt="Medium-Light Roast">
<h4 class="metaInfo"><span>Roast Level: </span> med-light</h4>
{% endif %}
{% if product.metafields.c_f.roast == 3 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_3.svg?10892512432961427525" alt="Medium Roast">
<h4 class="metaInfo"><span>Roast Level: </span> medium</h4>
{% endif %}
{% if product.metafields.c_f.roast == 4 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_4.svg?10892512432961427525" alt="Medium-Dark Roast">
<h4 class="metaInfo"><span>Roast Level: </span> med-dark</h4>
{% endif %}
{% if product.metafields.c_f.roast == 5 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_5.svg?10892512432961427525" alt="Dark Roast">
<h4 class="metaInfo"><span>Roast Level: </span> dark</h4>
{% endif %}
</div>
