{% if product.metafields.c_f.roast %}
  <div class="coffee_graphics_col">
    {% if product.metafields.c_f.roast contains '1' %}
    <img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_1.svg?15010104346750382496" alt="Light Roast">
    <h4 class="metaInfo"><span>Roast: </span> light</h4>
    {% elsif product.metafields.c_f.roast contains '2' %}
    <img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_2.svg?15010104346750382496" alt="Medium-Light Roast">
    <h4 class="metaInfo"><span>Roast: </span> med-light</h4>
    {% elsif product.metafields.c_f.roast contains '3' %}
    <img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_3.svg?15010104346750382496" alt="Medium Roast">
    <h4 class="metaInfo"><span>Roast: </span> medium</h4>
    {% elsif product.metafields.c_f.roast contains '4' %}
    <img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_4.svg?15010104346750382496" alt="Medium-Dark Roast">
    <h4 class="metaInfo"><span>Roast: </span> med-dark</h4>
    {% elsif product.metafields.c_f.roast contains '5' %}
    <img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Roast_5.svg?15010104346750382496" alt="Dark Roast">
    <h4 class="metaInfo"><span>Roast: </span> dark</h4>
    {% endif %}
  </div>
{% endif %}
