<div class="section sub-header-background">
  <div class="col-5 section flex">
    <div class="" style="margin: auto;">
      <h1 class="subscriptionTitle">subscribe</h1>
      <h1 class="sub">&amp; GET 15% OFF</h1>
      <button class="subscribeButton" onclick="location.href='https://www.birdrockcoffee.com/collections/club-order'">see subscriptions</button>
    </div>
    </div>
  <div class="col-5 section flex">
    <img class="bag" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Bag.svg?2332652931522406872" alt="Bird Rock Bag" onclick="location.href='https://www.birdrockcoffee.com/collections/club-order'">
  </div>
</div>
