<div class="full-width-landing">
    {% include 'collection-grid-images' %}
</div>



{% schema %}
{
  "name": {
    "en": "Collection-Images"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "Collection-Grid-Image",
      "label": {
        "en": "Collection-Images"
      },
      "default": {
        "en": "Collection-Images"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Collection-Images"
      },
      "category": {
        "en": "Advanced"
      }
    }
  ]
}
{% endschema %}
