<footer class="site-footer small--text-center" style="margin-top: -10px;" role="contentinfo">

<div class="wrapper">

  <div class="section">
          <div class="col-4 section">
            <img class ="footer-img" src="https://cdn.shopify.com/s/files/1/2013/2883/files/Empowered.svg?10945148646696417261" alt="">
          </div>

          <div class="col-3">
            <h3 class="">FOLLOW US</h3>
              {% include 'social-links' %}
          </div>

          <div class="col-3">
            <h3 class="">HEAR ABOUT WHAT'S NEW</h3>
            {% unless block.settings.subtext == blank %}
              {{ block.settings.subtext }}
            {% endunless %}
            {% include 'newsletter-form' %}
          </div>
  </div>

  <hr class="hr--small hr--clear">

  <div class="grid">
    <div class="grid__item text-center">
      <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
    </div>
  </div>
</div>

</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_methods_of_payment",
      "label": {
        "de": "Zahlungssymbole",
        "en": "Payment icons",
        "es": "Iconos de pago",
        "fr": "Icônes de paiement",
        "it": "Icone di pagamento",
        "ja": "支払いアイコン",
        "pt-BR": "Ícones de pagamento"
      }
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Links",
            "en": "Links",
            "es": "Enlaces",
            "fr": "Liens",
            "it": "Links",
            "ja": "リンク",
            "pt-BR": "Links"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          }
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Kontaktieren Sie uns",
            "en": "Contact us",
            "es": "Ponte en contacto con nosotros",
            "fr": "Contactez-nous",
            "it": "Contattaci",
            "ja": "お問い合わせ",
            "pt-BR": "Fale conosco"
          }
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          }
        }
      ]
    },
    {
      "type": "blog",
      "name": {
        "de": "Letzter Blog-Beitrag",
        "en": "Latest blog post",
        "es": "Última entrada en el blog",
        "fr": "Dernier article de blog",
        "it": "Ultimo articolo del blog",
        "ja": "最新のブログ記事",
        "pt-BR": "Último post do blog"
      },
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": {
            "de": "Blog",
            "en": "Blog",
            "es": "Blog",
            "fr": "Blog",
            "it": "Blog",
            "ja": "ブログ",
            "pt-BR": "Blog"
          }
        }
      ]
    },
    {
      "type": "social",
      "name": {
        "de": "Social-Media-Symbole",
        "en": "Social icons",
        "es": "Iconos de redes sociales",
        "fr": "Icônes de partage social",
        "it": "Icone social",
        "ja": "ソーシャルアイコン",
        "pt-BR": "Ícones de redes sociais"
      },
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "de": "Einstellungen und Konten für soziale Netzwerke in den allgemeinen Einstellungen bearbeiten",
            "en": "Edit your social settings and accounts in General settings",
            "es": "Edita tus cuentas y configuraciones sociales en la configuración general",
            "fr": "Modifiez vos paramètres et vos comptes sociaux dans les paramètres généraux",
            "it": "Modifica impostazioni e account social nelle Impostazioni generali",
            "ja": "一般設定でソーシャル設定とアカウント設定を編集する",
            "pt-BR": "Edite suas contas e configurações de redes sociais nas Configurações gerais."
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription",
        "it": "Iscrizione Newsletter",
        "ja": "ニュースレターのサインアップ",
        "pt-BR": "Assinatura da newsletter"
      },
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "subtext",
          "label": {
            "de": "Subtext",
            "en": "Subtext",
            "es": "Subtexto",
            "fr": "Sous-texte",
            "it": "Sottotesto",
            "ja": "サブテキスト",
            "pt-BR": "Subtexto"
          },
          "default": {
            "de": "<p>Melden Sie sich für die neuesten Nachrichten, Angebote und Stile an</p>",
            "en": "<p>Sign up for the latest news, offers and styles</p>",
            "es": "<p>Regístrate para recibir las últimas noticias, ofertas y estilos</p>",
            "fr": "<p>Inscrivez-vous pour connaître les derniers styles, offres et nouvelles</p>",
            "it": "<p>Iscriviti per ricevere le ultime novità, offerte e stili</p>",
            "ja": "<p>登録して最新のニュース、オファー、スタイルを受け取る</p>",
            "pt-BR": "<p>Inscreva-se para receber os últimos estilos, notícias e ofertas</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
