<div class="full-width-landing">
    {% include 'nearest-location' %}
</div>



{% schema %}
{
  "name": {
    "en": "Nearest Location"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "nearest_location",
      "label": {
        "en": "Nearest Location"
      },
      "default": {
        "en": "Nearest Location"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Nearest Location"
      },
      "category": {
        "en": "Advanced"
      }
    }
  ]
}
{% endschema %}
