<div class="full-width-landing">
    {% include 'subscription-header' %}
</div>



{% schema %}
{
  "name": {
    "en": "Subscripion Header"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "subscription_header",
      "label": {
        "en": "ubscription Header"
      },
      "default": {
        "en": "Subscription Header"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Subscription Header"
      },
      "category": {
        "en": "Advanced"
      }
    }
  ]
}
{% endschema %}
